.list-wrapper{
    h3{
        font-size: 16px;
        color: #333;
        font-weight: 500;
        display: inline-block;
    }
    span {
        font-size: 14px;
        margin: 0 20px;
        color: #666;
        display: inline-block;
        cursor: pointer;
        &:hover{
            color: #222222;
            font-weight: 500;
        }
    }
}